@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('http://fonts.cdnfonts.com/css/poppins');

:root {
  /* font families */
  --ff-gotham: 'Gotham', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default link style */
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Remove default button styles */
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex--column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

/* Header Section */

header {
  padding: 1.5rem 4rem;
  align-items: center;
  justify-content: flex-start;

  --gap: 2rem;
}

.header-nav span {
  margin-left: 0.3rem;
  font-size: 0.7rem;
  font-family: var(--ff-gotham);
}

/* Header Section */

.artworks {
  padding: 1.5rem 4rem;
}

.artworks-list {
  grid-template-columns: repeat(3, 1fr);

  --gap: 2rem;
}

.artwork {
  align-items: center;
  justify-content: flex-start;

  --gap: 1rem;

  padding: 1rem;
}

.artwork-body {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.artwork-body img {
  max-width: 24px;
}
