.header {
  padding: 1.5rem 4rem;
  align-items: center;
  justify-content: flex-start;

  --gap: 2rem;
}

.header-nav span {
  margin-left: 0.3rem;
  font-size: 0.7rem;
  font-family: var(--ff-gotham);
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.nav--main {
  font-family: var(--ff-sugo);
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.nav--main li > a::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: #000;
  animation: draw-out 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav--main li > a:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  animation: draw-in 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav--mobile {
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  font-size: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding-top: 6rem;
  backdrop-filter: blur(10px);
  animation: slide-in 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.header-search {
  display: inline-flex;
  gap: 1rem;
  background: var(--clr-light);
  padding: 0.5rem;
  width: max(520px, 20%);
  justify-content: flex-start;
  align-items: center;
}

.header-search input[type='search'] {
  width: 100%;
  padding: 0.5rem;
  font-family: var(--ff-roboto);
  color: var(--clr-dark);
}

.header-search input[type='search']::placeholder {
  font-family: var(--ff-roboto);
  color: var(--clr-dark);
}

.menu-slide-in {
  animation: slide-in 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-slide-out {
  animation: slide-out 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 376px) {
  .header {
    justify-content: space-between;
  }

  .nav--main {
    display: none;
  }

  .btn--menu {
    display: inline-flex !important;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 200;
  }

  .header-search {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* .header {
    padding: 1.5rem 2.188rem;
  }

  .header-search {
    justify-content: flex-end;
    background: #fff;
    width: auto;
    flex: 1;
  }

  .header-search svg {
    width: 24px;
    height: 24px;
  }

  .header-search input {
    display: none;
  } */

  .header {
    justify-content: space-between;
  }

  .nav--main {
    display: none;
  }

  .btn--menu {
    display: inline-flex !important;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 200;
  }

  .header-search {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 1.5rem 2.188rem;
  }

  .header-search {
    justify-content: flex-end;
    background: #fff;
    width: auto;
    flex: 1;
  }

  .header-search svg {
    width: 24px;
    height: 24px;
  }

  .header-search input {
    display: none;
  }
}

@keyframes slide-in {
  0% {
    left: -25rem;
    opacity: 0;
  }
  100% {
    left: 0rem;
    opacity: 1;
  }
}

@keyframes slide-out {
  100% {
    left: 0rem;
    opacity: 1;
  }
  0% {
    left: -25rem;
    opacity: 0;
  }
}

@keyframes draw-in {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes draw-out {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
