footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  font-family: var(--ff-sugo);
  letter-spacing: 0.2;
  padding: 1.5rem;
}
