@import url('http://fonts.cdnfonts.com/css/sugo-pro-classic-trial');
@import url('http://fonts.cdnfonts.com/css/roboto');

:root {
  /* Colors */
  --clr-light: #f9f9f9;
  --clr-dark: #394149;
  --clr-gray: rgba(69, 69, 69, 0.2);

  /* font families */
  --ff-sugo: 'Sugo Pro Classic Trial', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default link style */
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-roboto);
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Remove default button styles */
button,
input[type='submit'],
input[type='reset'],
input[type='search'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden !important;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex--column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.btn--primary {
  border: 2px solid black;
}

.btn--icon {
  display: block;
  width: 29px;
  padding: 0;
  margin: 0;
}

/* Artworks Section */

.artworks {
  padding: 1.5rem 4rem;
}

.artworks-list {
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 14rem);

  --gap: 2rem;
}

.artwork {
  align-items: center;
  justify-content: flex-start;

  --gap: 1rem;

  padding: 1rem;
}

.artwork-body {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.artwork-body h2 {
  flex: 1.8 0 0;
}

.body-likes {
  justify-content: center;
  align-items: center;
}

.body-likes p {
  text-align: center;
}

.artwork-body button {
  flex: 0.2 0 0;
}

.modal {
  padding: 3rem 4.8rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  height: 100%;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.5);
  overflow: auto;
}

.modal-dialog {
  max-width: 60%;
  margin-inline: auto;
}

.close-modal {
  float: right;
  margin: 0 1rem;
}

.header-content {
  justify-content: center;
  align-items: center;
}

.modal-content {
  justify-content: center;
  align-items: center;
}

.artwork-desc {
  justify-content: center;
  align-items: center;
}

.artwork-desc div {
  justify-content: space-between;
  width: 100%;
}

.comments {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comment-list {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.add-comment {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.add-comment h2 {
  width: 100%;
  text-align: center;
}

.add-comment-form {
  justify-content: center;
  align-items: flex-start;
}

.footer {
  padding: 2rem 3rem;
  bottom: 0;
  width: 100%;
  background-color: rgb(88, 84, 84);
  color: white;
}
